@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 0 #000;
  }

  .text-shadow {
    text-shadow: 2px 2px 0 #000;
  }

  .text-shadow-lg {
    text-shadow: 3px 3px 0 #000;
  }
}

::selection {
  background-color: #10b981;
  /* Brand 500 */
  color: white;
}

/* Custom scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 2px solid #000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #000;
  /* Creates a gap look if needed, or solid black */
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.meme-text-shadow {
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Background Pattern */
.bg-grid-pattern {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

.bg-checkered {
  background-size: 20px 20px;
  background-image:
    linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
    linear-gradient(-45deg, #f0f0f0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
    linear-gradient(-45deg, transparent 75%, #f0f0f0 75%);
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.btn-press {
  transition: transform 0.1s, box-shadow 0.1s;
}

.btn-press:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 0 #000 !important;
}

/* Battle Animations */
@keyframes shake {

  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  75% {
    transform: translate(5px, -5px) rotate(5deg);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both infinite;
}

@keyframes slam {
  0% {
    transform: scale(3) rotate(-10deg);
    opacity: 0;
  }

  70% {
    transform: scale(0.9) rotate(2deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

.animate-slam {
  animation: slam 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes float-fast {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.animate-float-fast {
  animation: float-fast 2s ease-in-out infinite;
}

@keyframes pulse-slow {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}